body{
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white
}

h1{
    margin-top: 10px;
    color: darkblue;
    text-align: center;
}

p {
    color: darkblue;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 5px;
}

.lefty {
    float: left;
}

.righty {
    float: right;
}

h3 {
    display: block;
    clear: both;
    margin: 10px 0 0 0;
    text-decoration: underline;
}